[submodule "dpdk"]
	path = dpdk
	url = https://dpdk.org/git/dpdk
	branch = master
	commit = 7001c8fdb27357c67147c0a13cb3826e48c0f2bf

[submodule "mtcp/src/libccp"]
	path = mtcp/src/libccp
	url = https://github.com/ccp-project/libccp.git
